@font-face {
  font-family: VCROSDMono;
  src: url(./assets/VCR_OSD_MONO_1.001.ttf);
}
.App {
  font-family: 'VCROSDMono';
  color: #ABABAB;
  text-align: center;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.right-side {
  overflow: hidden;
  width: 90vw;
}
.page {
  height: 90vh;
}

a{
  color: #ABABAB;
  text-decoration: none;
}
